In [2]:
import pandas as pd

In [3]:
zip_data = pd.read_csv("austinzip.csv", header=None)
zip_data.head()

       0
0  78610
1  78613
2  78617
3  78641
4  78652

In [4]:
csv_df = pd.read_csv("irs-data.csv", low_memory=False, header=[5])
csv_df = csv_df.rename(columns={"Unnamed: 0":"zip codes", "(15)":"Adjusted gross income", "(16)":"Number of Returns"})
col_list = ["zip codes", "Adjusted gross income", "Number of Returns"]
csv_df = csv_df[col_list]
csv_df.head(10)

  zip codes Adjusted gross income Number of Returns
0     00000           824,818,827        11,991,060
1     00000              58338799           4579470
2     00000             105997149           2931350
3     00000              94850276           1546870
4     00000              83350273            961080
5     00000             193376997           1418900
6     00000             288905333            553390
7       NaN                   NaN               NaN
8     75001               925,103             9,480
9     75001                 31048              2300

In [5]:
csv_df = csv_df.dropna()
csv_df.head(10)

   zip codes Adjusted gross income Number of Returns
0      00000           824,818,827        11,991,060
1      00000              58338799           4579470
2      00000             105997149           2931350
3      00000              94850276           1546870
4      00000              83350273            961080
5      00000             193376997           1418900
6      00000             288905333            553390
8      75001               925,103             9,480
9      75001                 31048              2300
10     75001                 93672              2490

In [6]:
last_zip = 0

In [7]:
zips = []
AGI = []
returns = []

In [8]:
for index, row in csv_df.iterrows():
    if row["zip codes"] != last_zip:
        zips.append(row["zip codes"])
        AGI.append(row["Adjusted gross income"])
        returns.append(row["Number of Returns"])
        last_zip = row["zip codes"]

In [9]:
new_df = pd.DataFrame({"zip code":zips, "Adjusted Gross Income":AGI, "# of returns":returns})
new_df.head()

  # of returns Adjusted Gross Income zip code
0   11,991,060           824,818,827    00000
1        9,480               925,103    75001
2       29,910             2,709,267    75002
3       24,470             1,278,274    75006
4       26,100             1,825,325    75007

In [15]:
just_zips_df = new_df.drop([0])
just_zips_df.head()

  # of returns Adjusted Gross Income zip code
1        9,480               925,103    75001
2       29,910             2,709,267    75002
3       24,470             1,278,274    75006
4       26,100             1,825,325    75007
5        5,010               502,839    75009

In [16]:
just_zips_df = just_zips_df[['zip code', 'Adjusted Gross Income', '# of returns']]
just_zips_df.head()

  zip code Adjusted Gross Income # of returns
1    75001               925,103        9,480
2    75002             2,709,267       29,910
3    75006             1,278,274       24,470
4    75007             1,825,325       26,100
5    75009               502,839        5,010

In [19]:
for index, row in just_zips_df.iterrows():
    mean = row["Adjusted Gross Income"]/row["# of returns"]

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [18]:
just_zips_df["Average Income"] = int(just_zips_df["Adjusted Gross Income"])/int(just_zips_df["# of returns"])

TypeError: cannot convert the series to <class 'int'>